.clip-path {
  clip-path: polygon(50% 0%,
      100% 0,
      100% calc(100% + -40px),
      calc(100% + -40px) 100%,
      0 100%,
      0% 60%,
      0 0);
}

.clip-path-button {
  clip-path: polygon(50% 0%,
      100% 0,
      100% calc(100% + -20px),
      calc(100% + -20px) 100%,
      0 100%,
      0% 60%,
      0 0);
}

.button-black-white {
  .outer {
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% + -20px),
        calc(100% + -20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    transform: scale(0.98, 0.95);
  }

  .border.clip-path-button {
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% + -20px),
        calc(100% + -20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    border: 2px solid #000;
    background: transparent;
  }
}

.clip-hoek {
  rotate: 315deg;
  bottom: 0px;
  right: -14px;
  position: absolute;
  height: 2.1px;
  width: 60px;
  transition-duration: 300ms;
}

.button-klanten {
  .outer {
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% + -20px),
        calc(100% + -20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    transform: scale(0.98, 0.95);
  }

  .border.clip-path-button {
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% + -20px),
        calc(100% + -20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    border: 2px solid #a8a8a8;
    background: transparent;
    transition-duration: 300ms;
  }
}

.button-klanten:hover .border.clip-path-button {
  border: 2px solid #e01f4d;
  transition-duration: 300ms;
}

.button-klanten:hover .clip-hoek {
  background-color: #e01f4d;
  transition-duration: 300ms;
}

.button-contact {
  .outer {
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    border: 0;
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% + -20px),
        calc(100% + -20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    transform: scale(0.98, 0.95);
  }

  .border.clip-path-button {
    border: 2px solid #fff;
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% + -20px),
        calc(100% + -20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    background-color: transparent;
  }
}

a .button-arrow:after {
  content: url("/wp-content/themes/digitalfc/img/icons/arrow-right.svg");
  padding-left: 10px;
  transition-duration: 0.4s;
}

a:hover .button-arrow:after {
  padding-left: 15px;
  transition-duration: 0.3s;
}

li.tactiek .button-arrow:after {
  content: url("/wp-content/themes/digitalfc/img/icons/arrow-right-black.svg");
  position: absolute;
  right: 40px;
  transition-duration: 0.4s;
}

li.tactiek:hover .button-arrow:after {
  content: url("/wp-content/themes/digitalfc/img/icons/arrow-right.svg");
  position: absolute;
  right: 40px;
  transition-duration: 0.4s;
}

.nieuws-item .button-arrow:after {
  content: url("/wp-content/themes/digitalfc/img/icons/arrow-right-red.svg");
  margin-left: 10px;
  transition-duration: 0.4s;
}

// .nieuws-item:hover .button-arrow:after {
//   content: url('/wp-content/themes/digitalfc/img/icons/arrow-right-red.svg');
//   margin-left: 15px;
//   transition-duration: 0.4s;
// }

.active-button {
  button {
    background-color: #e01f4d;
    color: #fff;
  }
}