// CASES

.case-item:hover .case-item-bg {
  transform: scale(1.1);
}

.case-item .case-item-content-first {
  transform: translate(0px, 20px);
}

.case-item:hover .case-item-content-first {
  transform: translate(0px, 0px);
}

.case-item .case-item-content-second {
  opacity: 0;
  transform: translate(0px, 20px);
}

.case-item:hover .case-item-content-second {
  opacity: 1;
  transform: translate(0px, 0px);
}

.case-item .case-item-overlay {
  opacity: 0;
}

.case-item:hover .case-item-overlay {
  opacity: 0.4;
}

// NIEUWS

.nieuws-item:hover .nieuws-item-bg {
  transform: scale(1.1);
}

// SLIDER
.clip-path-tabs {
  background-color: #222222;
}

.clip-path-tabs-relative {
  width: 100% !important;
  &.swiper-slide-thumb-active {
    button {
      color: #fff !important;
    }
    .clip-path-tabs {
      background-color: #e9204f;
    }
  }
}

@media only screen and (min-width: 768px) {
  .clip-path-slider {
    transform: translateX(-21px) !important;
  }

  .clip-path-tabs-relative {
    width: 33.3% !important;
    &:nth-of-type(1) {
      border-right: #fff 1px solid;
    }
    &:nth-of-type(2) {
      border-right: #fff 1px solid;
    }
  }
  .clip-path-tabs {
    transform: skewX(318deg) !important;
    background-color: #222222;
    &.swiper-slide-thumb-active {
      background-color: #e9204f;
      color: #fff;
    }
  }

  .swiper-slide-thumb-active {
    button {
      color: #fff;
    }
    .clip-path-tabs {
      transform: skewX(318deg) !important;
      background-color: #e9204f;
      color: #fff;
    }
  }
}

// SWIPER TEAM

.swiper-overflow-container {
  overflow-x: hidden;
  .container {
    overflow: visible;
  }
  .swiper-container {
    overflow: visible;
  }
}

.mySwiper2 {
  .swiper-slide {
    height: initial;
  }
}

.mySwiper {
  button {
    width: 100%;
    text-align: left;
  }
}
