.overlay-contact {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  right: calc(-50vw - 73px);
  z-index: 4;
  // width: calc(50vw - 73px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  transition: transform 0.5s;
  transform: translateX(calc(50vw - 73px));
  z-index: 99;
  background-color: #222222;

  &.open {
    transform: translateX(calc(-50vw - 73px));
    transition: transform 0.5s;
    transition-delay: 200ms;

    .button-close {
      z-index: 999;

    }
  }


}

.contact-overlay-content {
  z-index: 998;
}

.form-wedstrijdbespreking input,
.form-wedstrijdbespreking textarea {
  background: transparent !important;
  border-bottom: 1px solid #9ca3af !important;
  color: #fff !important;
}

.form-wedstrijdbespreking input:focus-visible,
.form-wedstrijdbespreking textarea:focus-visible {
  outline: 1px solid #9ca3af;
}

.form-wedstrijdbespreking input[type=submit] {
  position: relative;
  background-color: #e01f4d !important;
  clip-path: polygon(50% 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% 60%, 0 0);
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e01f4d !important;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

#gform_confirmation_message {
  color: #fff !important;
}



.overlay-contact-background {
  &.open {
    background-color: #222222;
    position: fixed;
    opacity: 0.6;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 40;
  }
}

// gravity forms
.custom-block {

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: 45px;
    padding: 0 20px !important;
    background-color: #f3f3f3;
  }

  textarea {
    height: 200px;
    padding: 20px !important;
    background-color: #f3f3f3;
  }

  input[type="submit"] {
    position: relative;
    background-color: #000;
    clip-path: polygon(50% 0%,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0% 60%,
        0 0);
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    cursor: pointer;
  }

  .validation_message {
    background: none !important;
    border: none !important;
    padding: 0 30px !important;
  }

  .gform_validation_errors {
    background: none !important;
    border: none !important;
    padding: 0 50px !important;
    box-shadow: none !important;
  }
}